@charset "UTF-8";
/* CSS Document 
Jamil Assi */

body {
	background-image: url(../img/squared_metal.png);
	/*background-size: cover;*/
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	background-position: 0 0%;
	/*background-repeat: no-repeat;*/
	background-color: #000;
	}

div * {
  z-index: 0;
}

#bas {
	
	}
h1.ashun {
	font-family: 'Codystar', cursive;
	text-align:center;
	}

h4 {
	text-align:center;
	}
.titre {
	color: #005188;
	height: 30px;
	font-family: 'La Belle Aurore', cursive;
	font-size: larger;
	text-align: center;
	padding-left: 33px;
	padding-right: 33px;
	}
.choice {
	text-align: center;
	width: 360px;
	height: 260px;
	margin: 0px auto;
	color: #000000;
	height: 30px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: larger;
	-webkit-box-shadow: 0px 0px 0px 0px;
	box-shadow: 0px 0px 0px 0px;
}
.choice a#small{
	text-decoration: none;
	color: #005188;
	font-size: small;
	text-shadow: 0px 0px 66px #000000;
	}
.choice a#regular{
	text-decoration: none;
	color: #005188;	
	text-shadow: 0px 0px 66px #000000;
	}
.choice a#large{
	text-decoration: none;
	color: #005188;
	font-size: larger;
	text-shadow: 0px 0px 66px #000000;
	}
.lang{
	font-family: 'Codystar', cursive;
	text-decoration: none;
	color: #000000;
	opacity:0.9;
	}
.soustitre{
	text-align: center;
	font-family: 'La Belle Aurore', cursive;
	text-decoration: none;
	color: #000000;
	opacity: 0.9;
	padding-top: 0px;
	margin-top: -44px;
	}
.footer {
	height:333px;
	}
#texte {
	font-family: font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	padding-top: 70px;
	font-size: 120%;
	text-align: justify;	
	}	
#image {
	padding-top:21px;
	}
