@charset "UTF-8";
/* CSS Document 
Jamil Assi */
body{
	font-family: 'Indie Flower', Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", cursive;
	margin-top: 4%;
	margin-right: 7%;
	margin-bottom: 7%;
	margin-left: 7%;
	background-size: 100% auto;
	background-repeat: no-repeat;
	}
h1{
	text-align: center;
	}
table {
	margin-left:auto;
	margin-right:auto;
	}

