@charset "UTF-8";
/* CSS Document */

body {
	font-family: 'Indie Flower', cursive;
}
h1	{
	text-align: center;	
}
div#corps	{
	margin-left: 0%;
	margin-top: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
	padding-left: 0px;
	width: 100%;
}
.bleu {
	color: #5474E2;
	text-shadow: 2px 1px 8px #FA171E;
}
.rouge {
	color: #FA181E;
	text-shadow: 2px 1px 8px #5474E2;
}
#droite {
	padding-left: 7%;
	text-align: top;
	vertical-align: top;
}
